<navbar></navbar>
<router-outlet></router-outlet>

<!--
<followers></followers>
<changePassword></changePassword>
<signup-form></signup-form>
<zippy title="Shipping Details">
	Hickory Dickory Dock
</zippy>
<zippy title="Billing Details">
	The Mice Have Tiny Cocks
</zippy>



<input type="text" [appInputFormat]="'uppercase'" />

<br/>

<button (click)="loadCourses()">Load</button>
<button (click)="clearCourses()">Clear</button>

<ul *ngIf="courses.length > 0; else noCourses">
	<li *ngFor="let course of courses; trackBy: trackCourse">
		{{ course.name }} <span (click)="removeCourse(course)">x</span>
	</li>
</ul>
<ng-template #noCourses>
	No Courses
</ng-template>
-->